:root {
	--body-color: rgb(236, 236, 236);
	--text-color: rgb(49, 49, 49);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.about-container {
	background: linear-gradient(
		transparent 0%,
		white 5%,
		var(--body-color) 100%
	);
	position: relative;
	width: 100%;
	min-height: 110vh;

	margin-top: -10vh;
	overflow: hidden;

	z-index: 10;

	.about {
		position: relative;

		min-height: 80vh;

		margin-left: 10vw;
		margin-right: 10vw;
		margin-top: 20vh;

		display: grid;
		grid-template-columns: 2fr 1.5fr 1fr;
		// grid-template-rows: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto);
		gap: 1px;

		.backdrop1 {
			position: absolute;
			grid-row: 1/5;
			grid-column: 1/2;

			width: 100%;
			height: 100%;
			overflow: hidden;

			font-family: "Roboto Mono", monospace;
			font-weight: 600;
			font-size: 40vw;

			color: var(--text-color);
			opacity: 0.1;

			z-index: -1;
		}
		.backdrop2 {
			position: absolute;
			grid-row: 2/5;
			grid-column: 2/3;

			width: 100%;
			height: 100%;
			overflow: hidden;

			writing-mode: vertical-rl;
			text-orientation: mixed;
			text-align: end;

			font-family: "Roboto Mono", monospace;
			font-weight: 600;
			font-size: 15vh;

			opacity: 0.05;

			z-index: -1;
		}

		.meet-me {
			grid-column: 1/2;
			grid-row: 1/2;

			padding: 2em;

			background-color: rgba(247, 247, 247, 0.5);

			display: flex;
			flex-direction: column;
			justify-content: center;

			h1 {
				font-family: "Source Code Pro", monospace;
				font-size: 2.1rem;
				color: var(--text-color);
				position: relative;

				padding: 1rem;
				span {
					text-decoration: underline;
				}
			}
			p {
				font-family: "Roboto Mono", monospace;
				color: var(--text-color);

				line-height: 1.3rem;
				padding: 1rem;
				span {
					font-size: 1.6rem;
					font-weight: 400;
				}
			}
			p:first-child {
				font-family: "Roboto Mono", monospace;
				color: var(--text-color);
				font-size: 1.5rem;

				line-height: 1.3rem;
				padding: 1rem;
				padding-top: 0;
			}
			section {
				background-color: var(--body-color);
				display: flex;
				justify-content: center;
				align-items: center;

				width: fit-content;
				margin: 1rem;

				font-family: "Roboto Mono", monospace;
				color: var(--text-color);
				a {
					padding: 0.7rem;
					text-decoration: none;
					color: var(--text-color);

					span {
						position: relative;
						display: block;
						width: 100%;
						height: 0.05rem;
						background-color: rgb(49, 49, 49);

						clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
						transition: all 0.2s ease-in-out;
					}
					&:hover {
						span {
							clip-path: polygon(
								0% 0%,
								100% 0%,
								100% 100%,
								0% 100%
							);
						}
					}
				}
			}
		}
		.about-me {
			grid-column: 1/2;
			grid-row: 2/5;

			padding: 2em;
			background-color: rgba(247, 247, 247, 0.7);

			display: flex;
			align-items: center;
			p {
				font-family: "Roboto Mono", monospace;
				color: var(--text-color);

				font-size: smaller;

				line-height: 1.3rem;
				padding: 1rem;
				padding-top: 0;
			}
			p::first-letter {
				font-size: 1.5rem;
				font-weight: 400;
			}
		}
		.skills {
			grid-column: 2/3;
			grid-row: 3/5;

			padding: 2em;

			ul {
				list-style: none;

				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 1rem;

				font-weight: 600;
				font-size: 2.75vh;
				text-align: end;

				cursor: pointer;

				li {
					user-select: none;
					section {
						font-family: "Source Code Pro", monospace;
						transition: all 0.1s ease-in-out;
						color: rgba(49, 49, 49, 0.6);
						&:hover {
							color: rgba(49, 49, 49, 0.7);
						}
					}
					p {
						font-family: "Roboto Mono", monospace;
						font-size: 1.5vh;
						color: rgba(49, 49, 49, 0.25);
						clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
						opacity: 0;
						height: 0;
						transition: all 0.1s ease-in-out;
					}
				}

				li.active {
					padding-top: 1rem;
					padding-bottom: 1rem;
					section {
						color: rgba(49, 49, 49, 0.8);
						&:hover {
							color: rgba(49, 49, 49, 0.8);
						}
					}
					section::after {
						content: "_";
						animation: cursor-blink-anim 1s infinite;
					}
					p {
						padding-top: 1rem;
						clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
						opacity: 1;
						height: fit-content;
						color: rgba(49, 49, 49, 0.6);
					}
				}
				@keyframes cursor-blink-anim {
					0% {
						opacity: 1;
					}
					50% {
						opacity: 1;
					}
					51% {
						opacity: 0;
					}
					100% {
						opacity: 0;
					}
				}
			}
		}

		.img01 {
			grid-column: 2/4;
			grid-row: 1/2;
			height: 70%;
		}
		.img02 {
			grid-column: 3/4;
			grid-row: 3/5;
		}
		.img01,
		.img02 {
			position: relative;
			padding-left: 2rem;
			padding-right: 2rem;
			main {
				position: absolute;
				overflow: hidden;
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			span {
				position: absolute;
				overflow: auto;
				width: 100%;
				height: 100%;
				top: 1rem;
				right: -3rem;
				// z-index: -1;
				background-image: radial-gradient(
					rgba(49, 49, 49, 0.7) 1px,
					transparent 1px
				);
				background-size: 10px 10px;
			}
		}

		@media (max-width: 1000px) {
			.meet-me {
				grid-column: 1/4;
				grid-row: 1/3;
			}
			.about-me {
				grid-column: 1/4;
				grid-row: 3/4;
			}
			.skills {
				grid-column: 1/4;
				grid-row: 4/5;
				ul {
					// min-width: 60vw;
					text-align: start;
				}
			}

			.img01 {
				display: none;
			}
			.img02 {
				display: none;
			}

			.backdrop1 {
				grid-column: 1/4;
				grid-row: 1/3;
			}
			.backdrop2 {
				grid-column: 1/4;
				grid-row: 4/5;
			}
		}
	}
}
