@import "./fonts.css";
@import "tailwindcss";

:root {
  font-synthesis: none;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-1: oklch(0.9454 0.0231 93.33);
  --light-2: oklch(0.861 0.0322 91.05);
  --dark-1: oklch(0.4426 0.0674 40.29);
  --dark-2: oklch(0.2036 0.0388 21.05);
  --success: oklch(0.5198 0.176858 142.4953);

  --radius: 0.625rem;
}

@theme {
  --font-helvetica: "Helvetica Neue", sans-serif;
  --font-think-loved: "Think Loved", sans-serif;

  --color-light-1: var(--light-1);
  --color-light-2: var(--light-2);
  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-success: var(--success);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility trim-text-caps {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}
