@import "./fonts.css";
@import "tailwindcss";

:root {
  font-synthesis: none;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-1: oklch(0.9454 0.0231 93.33);
  --light-2: oklch(0.861 0.0322 91.05);
  --dark-1: oklch(0.4426 0.0674 40.29);
  --dark-2: oklch(0.2036 0.0388 21.05);
  --success: oklch(0.5198 0.176858 142.4953);

  --radius: 0.625rem;
}

@theme {
  --font-helvetica: "Helvetica Neue", sans-serif;
  --font-think-loved: "Think Loved", sans-serif;

  --color-light-1: var(--light-1);
  --color-light-2: var(--light-2);
  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-success: var(--success);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  @apply bg-light-1 font-helvetica antialiased;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

@utility trim-text-caps {
  text-box: trim-both cap alphabetic;
}

/* header {
  background-image: radial-gradient(transparent 1px, var(--color-light-1) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
} */

/* footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-dark-1);
  opacity: 0.2;
} */
