@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap");
@import "tailwindcss";

@property --font-width {
  syntax: "<number>";
  initial-value: 100; /* 75 to 125 */
  inherits: false;
}
@property --font-lowercase-height {
  syntax: "<number>"; /* 440 to 540 */
  initial-value: 540;
  inherits: false;
}

html {
  font-size: max(calc(100vw / 1920 * 14), 8px);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" var(--font-width),
    "YTLC" var(--font-lowercase-height);

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --success: #008000;
  --light-l: #f2f2f2;
  --light-d: #87888c;
  --dark-l: #4f5259;
  --dark-d: #01040d;
  --accent: #111426;

  --radius: 0.625rem;
}

@theme {
  --font-sans: "Nunito Sans", sans-serif;

  --color-success: var(--success);
  --color-light-l: var(--light-l);
  --color-light-d: var(--light-d);
  --color-dark-l: var(--dark-l);
  --color-dark-d: var(--dark-d);
  --color-accent: var(--accent);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  @apply bg-dark-d text-light-l font-sans antialiased;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

@utility font-width-* {
  --font-width: --value(integer, [integer]); /* 75 to 125 */
  font-variation-settings:
    "wdth" var(--font-width),
    "YTLC" var(--font-lowercase-height);
  /* "wght" var(--tw-font-weight); */
}
@utility font-lowercase-height-* {
  --font-lowercase-height: --value(integer, [integer]); /* 440 to 540 */
  font-variation-settings:
    "wdth" var(--font-width),
    "YTLC" var(--font-lowercase-height);
  /* "wght" var(--tw-font-weight); */
}

@utility trim-text-caps {
  text-box: trim-both cap alphabetic;
}

@custom-variant cqw-landscape (@container (min-aspect-ratio: 1/1));
@custom-variant cqw-portrait (@container (max-aspect-ratio: 1/1));
