@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap");
@font-face {
  font-family: "Think Loved";
  src: url("/fonts/think-loved/ThinkLoved.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@property --font-width {
  syntax: "<number>";
  initial-value: 100; /* 75 to 125 */
  inherits: false;
}
@property --font-lowercase-height {
  syntax: "<number>"; /* 440 to 540 */
  initial-value: 540;
  inherits: false;
}

:root {
  font-synthesis: none;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" var(--font-width),
    "YTLC" var(--font-lowercase-height);

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --light-1: oklch(0.9454 0.0231 93.33);
  --light-2: oklch(0.861 0.0322 91.05);
  --dark-1: oklch(0.4426 0.0674 40.29);
  --dark-2: oklch(0.2036 0.0388 21.05);
  --success: oklch(0.5198 0.176858 142.4953);

  --radius: 0.625rem;
}

@theme {
  --font-think-loved: "Think Loved", sans-serif;
  --font-sans: "Nunito Sans", sans-serif;

  --color-light-1: var(--light-1);
  --color-light-2: var(--light-2);
  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-success: var(--success);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  @apply bg-light-1 font-sans antialiased;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

@utility font-width-* {
  --font-width: --value(integer); /* 75 to 125 */
  font-variation-settings:
    "wdth" var(--font-width),
    "YTLC" var(--font-lowercase-height);
  /* "wght" var(--tw-font-weight); */
}
@utility font-lowercase-height-* {
  --font-lowercase-height: --value(integer); /* 440 to 540 */
  font-variation-settings:
    "wdth" var(--font-width),
    "YTLC" var(--font-lowercase-height);
  /* "wght" var(--tw-font-weight); */
}

@utility trim-text-caps {
  text-box: trim-both cap alphabetic;
}

@custom-variant cqw-landscape (@container (min-aspect-ratio: 1/1));
@custom-variant cqw-portrait (@container (max-aspect-ratio: 1/1));

/* header {
  background-image: radial-gradient(transparent 1px, var(--color-light-1) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
} */

/* footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-dark-1);
  opacity: 0.2;
} */
